@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-size: 16px !important;
    background-color: #fcfcfd;
    color: #333333;
    font-family: 'Montserrat' !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #babac0;
}