.side_item_inner span {
    transition: all 0.25s;
}


/* TODO : config #4caf50 in tailwindcss.config.js */
/* TODO : replace follow code with innerClass  hover:text-primary for same meaning */
.side_item_inner span:hover {
    color: #4caf50;
}
.side_item_inner .active {
    border-radius: 15px;
    background-image: linear-gradient(to right, #019707, #4caf50);
}
.side_item_inner .active span {
    color: #fff;
}
