.notify::before {
    font-size: 30px;
}

.notify_number {
    top: -12px;
    right: -10px;
    height: 25px;
    width: 25px;
    background-color: #019707;
    color: white;
    font-size: 12.8px;
}
